* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #41644A;
}
#title{
    font-size: 3vw;
    text-align: center;
    color: #41644A;
}
header img{
    height: 100%;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn a i{
    font-size: 30px;
    margin: auto 20px;
    text-decoration: none;
    color: #41644A;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 0.5vh;
}
.sidenav{
    height: 86.5vh;
    width: 27.2vw;
    background-color: #41644A;
}
.send_form{
    border: 1px solid #41644A;
    width: 72.5vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}
.send_form form{
    width: 80%;
    height: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}
.send_form form label{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
.send_form form label input{
    height: 70%;
    width: 80%;
}
.send_form form label select{
    width: 25%;
    height: 60%;
    text-align: center;
}
.sel_con{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    height: 10%;
    font-size: 20px;
    background-color: #41644A;
    color: antiquewhite;
    box-shadow: none;
    border: 0px;
}#signup_main{
    background-color: #41644A;
    margin-top: 0px;
    height: 87vh;
}
#signup_main form{
    text-align: center;
    padding: 20px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    border: 2px solid #41644A;
    height: 80vh;
    margin-top: 5vh;
    background-color: white;
}
#signup_main form label{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    color: #41644A;
    align-items: center;
}
#signup_main form label input{
    height: 90%;
    width: 80%;
    border: 1px solid #41644A;
}